# Use postgres/password user/password credentials
version: '3.2'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      XVULB_DB_DATABASE: xvulb
      XVULB_DB_USER: xvulb_app
      XVULB_DB_PASSWORD: password
    ports:
      - 5432:5432
    build: 
      context: .
      dockerfile: Dockerfile.db
  app:
    build: .
    ports:
      - 8080:8080
  web:
    image: php:7.2.2-apache
    container_name: php_web
    volumes:
      - ./php/:/var/www/html/
    ports:
      - "8100:80"
    stdin_open: true
    tty: true

